<nav class="navbar navbar-light bg-light justify-content-between">
  <i class="fa-solid fa-clapperboard fa-beat fa-2xl" style="color: #396f56;"></i>
  <form class="form-inline">
    <%# <input class="form-control mr-sm-2" aria-label="My Lists">
    <button class="btn btn-outline-success my-2 my-sm-0">New List</button> %>
    <a class="nav-link" href="#">My Lists</a>
    <a class="nav-link" href="#">New List</a>
  </form>
</nav>


<div>
  <h1><%= @list.name %></h1>
  
</div>

<%= link_to "Add new movie to list", new_list_bookmark_path(@list) %>

<%#= simple_form_for [ @list, @movie, @bookmark ] do |f| %>
  <%#= f.input :comment %>
  <%#= f.association :movie %>
  <%#= f.association :list %>
  <%#= f.button :submit %>
<%# end %>
